
/* Structure
-------------------------------------------------------------- */
/*Clearfixing main elements*/
#page: after,
/*header:after,*/
header #site-title:after,
/*#main-menu .menu-main-navigation-container:after,*/
/*#main-menu #menu-main-navigation: after,*/
#main:after,
#content:after,
footer: after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both;
    visibility: hidden;
    font-size: 0;
}

body {
/*    font-family: 'Gudea', Helvetica, Arial, sans-serif;*/
    font-family: 'Muli', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #333333;
    position: relative;
}

#page {
    width: 950px;
    position: relative;
    margin: 0 auto;
    padding: 0 50px;
}

header,
#main,
footer {
    width: 950px;
    float: left;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Links
-------------------------------------------------------------- */
a, a:link, a:visited {
/*    color: #666666;*/
    color: #333333;
    text-decoration: none;
}

a:active, a:hover {
    color: #006699;
    text-decoration: none;
}

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
/*    font-family: 'GudeaBold', Helvetica, Arial, sans-serif;*/
}

/* Header
-------------------------------------------------------------- */
header {
/*    width: 100%;*/
/*    float: left;*/
    position: relative;
    padding: 110px 0 55px;
}

header h1 {
    font-size: 2.8em;
    font-weight: bold;
    float: left;
}

header h1 a {
    color: #000 !important;
}

#logo {
    position: absolute;
    top: 8px;
    left: -128px;
    width: 214px;
    height: 202px;
    background: url('../images/ctenophore-logo.jpg') no-repeat 0 0;
    z-index: -1;
}

/* Menu
-------------------------------------------------------------- */
#main-menu {
    background: #FFF;
    display: block;
    font-size: 1.8em;
    line-height: 1.2;
    float: right;
    margin-top: 3px;
}

#main-menu .menu-main-navigation-container,
#main-menu #menu-main-navigation {
    float: right;
}

#main-menu li {
    float: left;
    position: relative;
}

#main-menu a {
    display: block;
    line-height: 2em;
    padding: 0 0 0 2em;
    text-decoration: none;
}

#main-menu ul ul {
    border-top: solid #990033 2px;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
       -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
            box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    -webkit-border-radius: 0 0 10px 10px;
       -moz-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
    padding-bottom: .5em;
    background: #FFF;
    display: none;
/*    float: left;*/
    position: absolute;
    top: 2em;
    left: 2em;
    z-index: 99999;
}

#main-menu ul ul ul {
    left: 100%;
    top: 0;
}
#main-menu ul ul a {
/*    background: #FFF;*/
    line-height: 1.2em;
    padding: .5em .5em .5em 1em;
    width: 10em;
    height: auto;
}
#main-menu li:hover > a,
#main-menu ul ul :hover > a {
    background: #FFF;
}
#main-menu ul ul a:hover {
    background: #FFF;
}
#main-menu ul li:hover > ul {
    display: block;
}

/*Highlight current menu item*/
#main-menu .current-menu-item a,
#main-menu .current-menu-ancestor a,
#main-menu .current-post-ancestor a {
    color: #006699;
}

#main-menu .current-menu-item .sub-menu a,
#main-menu .current-menu-ancestor ul li a,
#main-menu .current-post-ancestor ul li a {
    color: #666;
}

#main-menu .current-menu-item .sub-menu a:hover,
#main-menu .current-menu-ancestor ul li a:hover,
#main-menu .current-post-ancestor ul li a:hover {
    color: #006699;
}

#main-menu .current-menu-ancestor ul li.current-menu-item a,
#main-menu .current-post-ancestor ul li.current-post-parent a {
    color: #006699;
}

/* General
-------------------------------------------------------------- */

#main {
}

#main h2 {
    font-size: 2.2em;
    line-height: 1.2;
    margin-bottom: 15px;
    width: 100%;
}

/* Sidebar
-------------------------------------------------------------- */
#main #sidebar {
    width: 180px;
    margin-left: 20px;
    float: right;
    text-align: right;
}

#main #sidebar ul {
    font-size: 1.5em;
}

#main #sidebar ul li {
    margin-bottom: 15px;
}

#main #sidebar ul li.current a {
    color: #006699;
}

#main #sidebar ul li.current a:hover {
    cursor: default;
}

/* Home
-------------------------------------------------------------- */
body.home #content {
    margin: 0;
    position: relative;
}

/*faking border radius with image overlay*/
body.home #content .border-radius {
    width: 950px;
    height: 633px;
    position: absolute;
    z-index: 10;
    background: url('../images/border-radius-fake-950x633.png') no-repeat 0 0;
}

body.home #slideshow {
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

body.home #slideshow #slide_pager {
    font-family: 'GudeaItalic', Helvetica, Arial, sans-serif;
    font-size: 5em;
    position: absolute;
    right: 0;
    bottom: 20px;
    z-index: 1000;
/*    display: none;*/
}

body.home #slideshow #slide_pager a {
    color: #FFF;
}

body.home #slideshow #slide_pager a.activeSlide {
    color: #777777;
}

body.home #slideshow #slide_pager a:hover {
    color: #006699;
}

body.home #slideshow #slide_pager {
    margin-left: 1em;
}

/* Page Template
-------------------------------------------------------------- */
body.page #content .entry-content {
    width: 550px;
    margin-right: 50px;
    float: left;
}

body.page #content .entry-content.no-image {
    width: 750px;
}

body.page #content .entry-content h3 {
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 5px;
}

body.page #content .entry-content p {
    font-size: 1.8em;
    line-height: 1.6;
    margin-bottom: 10px;
}

body.page #content .entry-content.no-image p {
    margin-bottom: 20px;
}

body.page #content .entry-content ul {
    font-size: 1.8em;
    line-height: 1.2;
    margin-left: 30px;
}

body.page #content .entry-content.no-image ul {
    line-height: 1.3;
}

body.page #content .entry-content.no-image ul li {
    padding-left: 12px;
    margin-bottom: 20px;
    background: url('../images/list-bullet-blue.png') no-repeat 0 7px;
}

body.page #content figure {
    width: 350px;
    text-align: right;
    float: left;
}

/* Page Template ---- Geotherapy Declaration
-------------------------------------------------------------- */
body.page.geotherapy-declaration #content .entry-content.no-image h2 {
    margin-bottom: 25px;
}

body.page.geotherapy-declaration #content .entry-content p.sub {
    font-size: 1.3em;
    margin-left: 30px;
}

/* Page Template ---- CV
-------------------------------------------------------------- */
body.page.cv #content .entry-content h2 {
    margin-bottom: 0;
}

body.page.cv #content .entry-content h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

body.page.cv #content .entry-content h4 {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2;
    width: 100px;
    float: left;
}

body.page.cv #content .entry-content ul {
    font-size: 1.5em;
    line-height: 1.2;
    margin-left: 0;
    width: 650px;
    float: left;
}

body.page.cv #content .entry-content.no-image ul li {
    padding-left: 0;
    margin-bottom: 20px;
    background: none;
}

/* Page Template ---- Contact
-------------------------------------------------------------- */
body.page.contact #content .entry-content address {
    font-size: 1.5em;
    line-height: 1.2;
    font-style: normal;
}

/* Category Template
-------------------------------------------------------------- */
body.category #main #content,
body.archive.tag #main #content {
    width: 750px;
    margin: 0;
    float: left;
}

/* Category ---- Portfolio Thumbnail
-------------------------------------------------------------- */
body.category #content .thumb-container {
    float: left;
    position: relative;
    width: 350px;
    height: 200px;
    margin: 0 25px 25px 0;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

body.category #content .thumb-container figcaption {
    position: absolute;
    top: 1px;
    z-index: 1;
    width: 350px;
    height: 200px;
    margin: 0;
    background-color: #006699;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

body.category #content .thumb-container figcaption p {
    font-weight: bold;
    font-size: 2em;
    color: #FFF;
    text-align: center;
    margin: 90px 20px;
}

body.category #content .thumb-container figure a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.15);
       -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.15);
            box-shadow: inset 0 0 10px rgba(0,0,0,0.15);
}

body.category #content .thumb-container figure a:hover {
    opacity: 0.25;
}

/*hide in order to keep rounded corners by using bg-image*/
body.category #content .thumb-container figure a img {
    visibility: hidden;
}

/* Single Post
-------------------------------------------------------------- */
body.single #content {
    width: 750px;
    float: left;
}

body.single #content article .text-container p {
    font-size: 1.6em;
    line-height: 1.3;
    max-width: 750px;
    margin: 0 0 20px 0;
/*    float: left;*/
}

body.single #sidebar {
    margin-top: 41px;
}

/* Category ---- Portfolio Single
-------------------------------------------------------------- */
body.single-format-gallery #main {
    position: relative;
}

/*faking border radius with image overlay*/
body.single-format-gallery #content article .border-radius {
    width: 750px;
    height: 500px;
    position: absolute;
    z-index: 10;
    background: url('../images/border-radius-fake-750x500.png') no-repeat 0 0;
}

/*faking background color*/
body.single-format-gallery #content article .background {
    width: 750px;
    height: 500px;
    position: absolute;
    z-index: -1;
    background: url('../images/white-stripes-gray-bg.jpg') repeat 0 0;
}

body.single-format-gallery #content article {
    width: 750px;
    position: relative;
    height: 550px;
    overflow: hidden;
    float: left;
}

body.single-format-gallery #content article #scroll {
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10000px; /*set dynamically after this*/
}

body.single-format-gallery #content article #scroll .image-container {
    height: 550px;
    float: left;
    position: relative;
    opacity: 0.25;
}

body.single-format-gallery #content article #scroll .image-container.currentSlide {
    opacity: 1;
}

body.single-format-gallery #content article #scroll .image-container figure {
    height: 500px;
    display: block;
}

body.single-format-gallery #content article #scroll .image-container figure img {
    min-height: 500px;
}

body.single-format-gallery #content article #scroll .image-container figcaption {
    font-size: 1.5em;
    height: 50px;
    padding: 10px 10px 0 0;
    display: block;
}

body.single-format-gallery #content .text-container {
    width: 750px;
    padding-top: 20px;
    float: left;
}

body.single-format-gallery #content .text-container p {
    font-size: 1.6em;
    line-height: 1.3;
    max-width: 750px;
    margin: 0 0 20px 0;
/*    float: left;*/
}

body.single-format-gallery #main h2.page-title {
    width: 300px;
    float: left;
}

body.single-format-gallery #thumbs {
    float: right;
    position: relative;
    margin-top: 10px;
    padding-bottom: 20px;
}

body.single-format-gallery #thumbs .text {
    float: left;
}

body.single-format-gallery #thumbs .arrows {
    float: right;
}

body.single-format-gallery #thumbs .arrows .nav {
    float: left;
    margin-left: 20px;
}

body.single-format-gallery #thumbs #pager {
    float: left;
}

body.single-format-gallery #thumbs .thumb {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #CCCCCC;
    margin-left: 20px;
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
}

body.single-format-gallery #thumbs .thumb.current,
body.single-format-gallery #thumbs .thumb:hover {
    background-color: #999999;
}

body.single-format-gallery #sidebar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    height: 100%;
}

/* Blog List Format for News, Blog and Tag pages in these categories
-------------------------------------------------------------- */
#content.blog-list article {
    width: 100%;
    border: solid 1px #AAAAAA;
    border-left: none;
    -webkit-border-radius: 0 10px 10px 0;
       -moz-border-radius: 0 10px 10px 0;
            border-radius: 0 10px 10px 0;
    margin-bottom: 20px;
    float: left;
}

#content.blog-list article .entry-meta {
    font-size: 2.2em;
    color: #CCCCCC;
    line-height: 1.2;
    width: 50px;
    margin: 15px 0;
    float: left;
}

#content.blog-list article .entry {
    margin: 15px 0;
    float: left;
}

#content.blog-list article.thumb .entry {
    width: 450px;
    height: 95px;
    overflow: hidden;
}

#content.blog-list article.text .entry {
    width: 700px;
    height: 50px;
    overflow: hidden;
}

#content.blog-list article .entry .entry-title a {
    font-size: 2.2em;
    line-height: 1.2;
    font-weight: bold;
}

#content.blog-list article.thumb .entry .entry-title {
    width: 450px;
    margin-bottom: 5px;
}

#content.blog-list article.text .entry .entry-title {
    display: inline;
}

#content.blog-list article .entry .entry-content {
    font-size: 1.6em;
    line-height: 1.2;
}

#content.blog-list article.thumb .entry .entry-content {
    line-height: 1.4;
    width: 450px;
}

#content.blog-list article.text .entry .entry-content {
    line-height: 1.6;
    display: inline;
}

#content.blog-list article.thumb figure {
    width: 225px;
    height: 130px;
    font-size: 1.6em;
    -webkit-border-radius: 0 10px 10px 0;
       -moz-border-radius: 0 10px 10px 0;
            border-radius: 0 10px 10px 0;
    margin-left: 25px;
    float: right;
}


/* Footer
-------------------------------------------------------------- */

#footer {
    padding: 50px 0 10px;
/*    width: 100%;*/
/*    float: left;*/
    text-align: right;
    font-size: 1.6em;
}



/* Content
-------------------------------------------------------------- */

.sticky {
}
.entry-meta {
    clear: both;
    display: block;
}
.single-author .entry-meta .byline {
    display: none;
}
#content nav {
    display: block;
    overflow: hidden;
}
#content nav .nav-previous {
    float: left;
    width: 50%;
}
#content nav .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
#content #nav-above {
    display: none;
}
.paged #content #nav-above,
.single #content #nav-above {
    display: block;
}
#nav-below {
    margin: 1em 0 0;
}
.page-link {
    clear: both;
    margin: 0 0 1em;
}
.page .edit-link {
    clear: both;
    display: block;
    font-size: 1.4em;
}

/* 404 page */
.error404 .widget {
    float: left;
    width: 33%;
}
.error404 .widget .widgettitle,
.error404 .widget ul {
    margin-right: 1em;
}
.error404 .widget_tag_cloud {
    clear: both;
    float: none;
    width: 100%;
}

/* Notices */
.post .notice,
.error404 #searchform {
    background: #eee;
    display: block;
    padding: 1em;
}

/* Image Attachments */
.image-attachment div.entry-meta {
    float: left;
}
.image-attachment nav {
    float: right;
    margin: 0 0 1em 0;
}
.image-attachment .entry-content {
    clear: both;
}
.image-attachment .entry-content .entry-attachment {
    background: #eee;
    margin: 0 0 1em;
    padding: 1em;
    text-align: center;
}
.image-attachment .entry-content .attachment {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Aside Posts */
.format-aside .entry-header {
    display: none;
}
.single .format-aside .entry-header {
    display: block;
}
.format-aside .entry-content,
.format-aside .entry-summary {
    padding-top: 1em;
}
.single .format-aside .entry-content,
.single .format-aside .entry-summary {
    padding-top: 0;
}

/* Gallery Posts */
.format-gallery .gallery-thumb {
    float: left;
    margin: 0 1em 0 0;
}

/* Image Posts */
.format-image .entry-header {
    display: none;
}
.single .format-image .entry-header {
    display: block;
}
.format-image .entry-content,
.format-image .entry-summary {
    padding-top: 1em;
}
.single .format-image .entry-content,
.single .format-image .entry-summary {
    padding-top: 0;
}


/* Images
-------------------------------------------------------------- */

a img {
    border: none;
}
p img {
    margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption {
    max-width: 100%; /* When images are too wide for containing element, force them to fit. */
    height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
    margin-right: 1em;
}
img.alignright {
    margin-left: 1em;
}
.wp-caption {
    padding: .5em;
    text-align: center;
}
.wp-caption img {
    margin: .25em;
}
.wp-caption .wp-caption-text {
    margin: .5em;
}
.gallery-caption {
}
.wp-smiley {
    margin: 0;
}


/* Forms
-------------------------------------------------------------- */

#searchform label {
    display: none;
}
#searchform input#s {
    width: 60%;
}
input[type=text],
input#s {
    margin: 0 1em 0 0;
    width: 60%;
}
textarea {
    width: 80%;
}

/* Class for labelling required form items */
.required {
    color: #cc0033;
}


/* Comments
-------------------------------------------------------------- */

article.comment {
    display: block;
}
#respond input[type=text] {
    display: block;
    width: 60%;
}
#respond textarea {
    display: block;
    margin: 0 0 1em;
    width: 80%;
}
#respond .form-allowed-tags {
    clear: both;
    width: 80%;
}
#respond .form-allowed-tags code {
    display: block;
}


/* Widgets
-------------------------------------------------------------- */

.widget {
    display: block;
}
.widget-area .widget_search {
    overflow: hidden;
}
.widget-area .widget_search input {
    float: left;
}