<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /calamara/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /calamara/index.php [L]
</IfModule>
